<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openbook</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="fixed w-screen top-0 flex items-center p-6">
        <a class="font-semibold text-xl" href="#">Openbook</a>
        <a href="/log-in" class="ml-auto rounded-full px-8 py-2 bg-black text-white text-sm font-semibold hover:opacity-90">Log in</a>
    </div>
    <div class="flex flex-col w-screen h-screen items-center justify-center text-center">
        <div class="w-2/3">
            <h1 class="font-bold text-5xl mb-14"><span class="bg-yellow-500">Free</span> and <span class="bg-blue-500">open</span> education for every VCE student</h1>
        </div>
        <a href="#about" class="animate-bounce flex items-center justify-center space-x-2 font-medium text-xl"><svg width="24px" height="24px" stroke-width="2.04" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M6 9L12 15L18 9" stroke="#000000" stroke-width="2.04" stroke-linecap="round" stroke-linejoin="round"></path></svg><p>Read more</p></a>
    </div>
    <div class="flex flex-col w-screen h-screen items-center justify-center" id="about">
        <div class="w-2/3">
            <h1 class="font-bold text-5xl mb-14">The issue</h1>
            <p>In Australia, <a class="font-semibold text-blue-800" href="https://www.thesmithfamily.com.au/media/centre/releases/2023/nine-in-ten-families-surveyed-worried-they-will-struggle-to-afford-school-essentials">87% of parents and carers are worried about being able to buy school materials and another 40% think their children will miss out on school supplies.</a>
                Australian children are being burdened by cost-of-living pressures, and it's denying them their right to a quality education. Most textbooks cost almost $100, and for VCE students who really
                need textbooks to complete their studies, it's a big ask.
                <br><br>
                Textbooks are distributed under strict licenses that don't allow them to be easily accessed online. For many students, the only affordable means of accessing
                their textbooks is via the use of piracy sites and PDF copies distributed by others. The big problem with this is that it becomes very difficult to find the most up-to-date
                textbook. PDF copies also lack interactivity, reducing the overall engagement of the textbook.
            </p>
            <div class="flex p-6 justify-center">
                <img src="{{url_for('static',filename='images/chart1.svg')}}" class="w-92">
            </div>
        </div>
    </div>
</body>
</html>