<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openbook</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="fixed w-screen top-0 flex items-center p-6">
        <a class="font-semibold text-xl" href="#">Openbook</a>
        <a href="/log-in" class="ml-auto rounded-full px-8 py-2 bg-black text-white text-sm font-semibold hover:opacity-90">Join</a>
    </div>
</body>
</html>