<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="{{url_for('static',filename='src/js/profile.js')}}"></script>
</head>
<body>
    <div class="fixed w-screen top-0 flex items-center p-6">
        <a class="font-semibold text-xl" href="/">Openbook</a>
        <button class="ml-auto">
            <svg width="24px" height="24px" stroke-width="3" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </button>
    </div>
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="flex flex-col">
            <h1 class="font-semibold text-2xl mb-12">Your profile</h1>
            <div class="mb-12 font-medium w-96 space-y-2">
                <div class="flex flex-row items-center">
                    <h3>Avatar</h3>
                    {% if editing %}
                        <button class="ml-4 text-gray-500" onclick="regenerateAvatar();">Regenerate</button>
                    {% endif %}
                    <img class="w-10 ml-auto" id="avatar-img" src="{{avatar}}">
                </div>
                <div class="flex flex-row items-center">
                    <h3>Display name</h3>
                    {% if editing %}
                        <input type="text" class="font-normal ml-auto text-right" id="display-name" value="{{user_name}}">
                    {% else %}
                        <p class="font-normal ml-auto">{{user_name}}</p>
                    {% endif %}
                </div>
                <div class="flex flex-row items-center">
                    <h3>School</h3>
                    {% if school|length > 1 %}
                        {% if editing %}
                            <input type="text" class="font-normal ml-auto text-right" value="{{school}}">
                        {% else %}
                            <p class="font-normal ml-auto">{{school}}</p>
                        {% endif %}
                    {% else %}
                        {% if editing %}
                            <input type="text" class="font-normal ml-auto text-right" placeholder="N/A">
                        {% else %}
                            <p class="font-normal ml-auto text-gray-500">N/A</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="flex flex-row items-center">
                    <h3>Year level</h3>
                    {% if year_level %}
                        {% if editing %}
                            <input type="text" class="font-normal ml-auto text-right" id="year-level" value="{{year_level}}">
                        {% else %}
                            <p class="font-normal ml-auto">{{year_level}}</p>
                        {% endif %}
                    {% else %}
                        {% if editing %}
                            <input type="text" class="font-normal ml-auto text-right" placeholder="N/A">
                        {% else %}
                            <p class="font-normal ml-auto text-gray-500">N/A</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="flex justify-start space-x-3 mb-5">
                {% if editing %}
                    <button class="rounded-full px-8 py-2 bg-black text-white text-sm font-semibold opacity-40" disabled>Edit</button>
                    <button class="rounded-full px-8 py-2 bg-black text-white text-sm font-semibold hover:opacity-90" onclick="saveChanges();">Save changes</button>
                {% else %}
                    <a class="rounded-full px-8 py-2 bg-black text-white text-sm font-semibold hover:opacity-90" href="?editing=1">Edit</a>
                    <button class="rounded-full px-8 py-2 bg-black text-white text-sm font-semibold opacity-40" disabled>Save changes</button>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>