<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="fixed top-0 flex items-center p-6">
        <a class="font-semibold text-xl" href="/">Openbook</a>
    </div>
    <div class="flex flex-col h-screen justify-center items-center">
        <form class="flex flex-col" method="post">
            <h1 class="font-semibold text-2xl mb-12">Sign up</h1>
            <input class="p-6 border-2 border-black rounded-lg mb-6" type="email" id="email" name="email" placeholder="Email">
            <input class="p-6 border-2 border-black rounded-lg mb-6" type="password" id="password" name="password" placeholder="Password">
            <input class="p-6 border-2 border-black rounded-lg mb-12" type="password" id="confirm-password" placeholder="Confirm password">
            <div class="flex justify-start space-x-3 mb-5">
                <button type="submit" class="rounded-full px-8 py-2 bg-black text-white text-sm font-semibold hover:opacity-90">Register</button>
                <button class="flex items-center justify-center rounded-full px-8 py-2 bg-black text-white text-sm font-semibold hover:opacity-90">
                    <svg class="mr-2" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M16.92 9.1875C16.92 8.6025 16.8675 8.04 16.77 7.5H9V10.695H13.44C13.245 11.7225 12.66 12.5925 11.7825 13.1775V15.255H14.46C16.02 13.815 16.92 11.7 16.92 9.1875Z" fill="white"/>
                        <path d="M9.00001 17.25C11.2275 17.25 13.095 16.515 14.46 15.255L11.7825 13.1775C11.0475 13.6725 10.11 13.9725 9.00001 13.9725C6.85501 13.9725 5.03251 12.525 4.38001 10.575H1.63501V12.705C2.99251 15.3975 5.77501 17.25 9.00001 17.25Z" fill="white"/>
                        <path d="M4.38 10.5675C4.215 10.0725 4.1175 9.54749 4.1175 8.99999C4.1175 8.45249 4.215 7.92749 4.38 7.43249V5.30249H1.635C1.0725 6.41249 0.75 7.66499 0.75 8.99999C0.75 10.335 1.0725 11.5875 1.635 12.6975L3.7725 11.0325L4.38 10.5675Z" fill="white"/>
                        <path d="M9.00001 4.035C10.215 4.035 11.295 4.455 12.1575 5.265L14.52 2.9025C13.0875 1.5675 11.2275 0.75 9.00001 0.75C5.77501 0.75 2.99251 2.6025 1.63501 5.3025L4.38001 7.4325C5.03251 5.4825 6.85501 4.035 9.00001 4.035Z" fill="white"/>
                    </svg>
                    Continue with Google
                </button>
            </div>
            <p>Already have an account? <a class="font-semibold" href="/log-in">Log in</a></p>
        </form>
    </div>
</body>
</html>